# Title of Notebook: DataScienceEcosystem_rhaks

#### Hello, this is introduction to this exercise. We are trying to learn how to use data science tools with IBM online lectures!

Here are some data science languages:
1. Python
2. R
3. SQL
4. Java
5. C++
6. Julia
7. Scala
8. JavaScript
9. Ruby
10. Go
11. Visual Basic

##### popular data science libraries
1. Pandas
2. Numpy
3. ggplot2

| Open Source        | Commercial           | Cloud Based  |
| ------------------ |----------------------| -------------|
| MongoDB           | Oracle        | IBM Data Refinary        |
|MySQL          | MS SQL Server             |          CouchDB |
| Cassandra      | IBM DB2             |           Informatica |

# Below are a few examples of evaluating arithmetic expressions in Python
a=3<br>
b=1<br>
print (a+b)<br>
result will be shown as:<br>
4<br>
prin (a*b)<br>
result will be shown as:<br>
3

In [3]:
(3*4)+5
## This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200//60
## This a simple arithmetic expression to mutiply then add integers

3

**Objectives:**<br>
data science languages
* python
* r
* SQL
* Java
* C++

## Author
R. Hakan Aksoy